@import url('https://fonts.googleapis.com/css?family=Oswald:400,700,300');
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
    background: #02010B;
}
.profile{
    color: #E7BBD4;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}
p{
    background: none;
    border: none;
    color: #E7BBD4;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}
img.profile{
    background: none;
}

h3.bio{
    font-family: 'Oswald', sans-serif;
    color: #E7BBD4;
    font-weight: 600;
}